<a href="https://colab.research.google.com/github/marceloccs/DL-PARA-PLV/blob/main/DL_Trilha2_Ferramentas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Nome:** Marcelo Custodio Cruz Silva

##**Matricula:** 92123341

---

##**Curso:** Inteligencia Artificial

##**Turma:** B

*Link do arquivo no google colabs: https://drive.google.com/file/d/1HoGA-BeAnhff7ChuT-Z7NtYUOwguuhde/view?usp=sharing*

*Link do arquivo no github: https://github.com/marceloccs/DL-PARA-PLV/blob/main/DL_Trilha2_Ferramentas.ipynb*

# Trilha 2: Tarefa (Peso 3)
Os frameworks TensorFlow e Keras são muito utilizados para o desenvolvimento de aplicações de Deep Learning. Nesta atividade, você deverá carregar os dados disponibilizados OSI_feats_e3.csv (entrada) e OSI_target_e2.csv (saída) combinando os seguintes passos: 

1.   
Carregue os dados e divida-os em treinamento e teste; 
2.   Crie um modelo sequencial;
3.   Adicione uma camada Dense com N neurônios, sendo N a quantidade de atributos.
4.   Adicione uma função de ativação sigmoide;
5.   Compile o modelo especificando o otimizador, a métrica de loss para avaliar, e quaisquer outras métricas para avaliar depois de cada época;
6.   Ajuste o modelo aos dados de treinamento, especificando o número de épocas; 
7.   Apresente o loss e outras métricas para cada época que serão avaliadas nos conjuntos de treinamento/avaliação; 
8.   Avalie o loss no conjunto de teste.

Um arquivo notebook em formato.IPYNB com código python deverá ser entregue como resposta. Nesta atividade, não estamos avaliando a qualidade do modelo construído, mas a forma de construção, seguindo os passos indicados.

In [450]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras

In [451]:
from keras.utils.vis_utils import plot_model

In [452]:
from keras.models import Model
from keras.layers import Input
from keras.layers import Dense
from keras.layers import Flatten

In [453]:
from sklearn.model_selection import train_test_split

In [454]:
print(tf.__version__)
print(keras.__version__)

2.8.0
2.8.0

# Construindo um Modelo

## 1. Carregue os dados e divida-os em treinamento e teste;

In [481]:
dfFeats = pd.read_csv("https://github.com/marceloccs/DL-PARA-PLV/blob/main/OSI_feats_e3.csv?raw=true", delimiter=",")
display(dfFeats.head())

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,...,TrafficType_19,TrafficType_20,Region_1,Region_2,Region_3,Region_4,Region_6,Region_7,Region_8,Region_9
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,...,0,0,0,1,0,0,0,0,0,0
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0

In [461]:
dfTarget = pd.read_csv("https://raw.githubusercontent.com/marceloccs/DL-PARA-PLV/main/OSI_target_e2.csv", delimiter=",")
display(dfTarget.head())

   Revenue
0        0
1        0
2        0
3        0
4        0

In [462]:
feats_train, feats_test, target_train, target_test = train_test_split(dfFeats,dfTarget, test_size=0.3, random_state=6)

In [463]:
feats_train.shape

(8631, 68)

In [464]:
target_train.shape

(8631, 1)

## 2. Definir o modelo

In [465]:
from keras.models import Sequential
model = Sequential()

## 3. Adicione uma camada Dense com N neurônios, sendo N a quantidade de atributos.

In [466]:
print(feats_train.shape[1])
model.add(tf.keras.Input(shape=(feats_train.shape[1],)))
model.add(Dense(feats_train.shape[1]/6, activation='relu'))

68

## 4. Adicione uma função de ativação sigmoide;

In [467]:
model.add(Dense(target_train.shape[1], activation='sigmoid'))
model.summary()

Model: "sequential_21"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_146 (Dense)           (None, 11)                759

 dense_147 (Dense)           (None, 1)                 12

=================================================================
Total params: 771
Trainable params: 771
Non-trainable params: 0
_________________________________________________________________

## 5. Compile o modelo especificando o otimizador, a métrica de loss para avaliar, e quaisquer outras métricas para avaliar depois de cada época;

In [474]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy','MeanSquaredError'])

## 6. Ajuste o modelo aos dados de treinamento, especificando o número de épocas;

In [475]:
history = model.fit(x=feats_train,y=target_train, epochs=20, batch_size=10)

Epoch 1/20
864/864 [==============================] - 3s 2ms/step - loss: 0.6087 - accuracy: 0.8715 - mean_squared_error: 0.1077
Epoch 2/20
864/864 [==============================] - 2s 2ms/step - loss: 0.8032 - accuracy: 0.8586 - mean_squared_error: 0.1197
Epoch 3/20
864/864 [==============================] - 2s 2ms/step - loss: 0.6293 - accuracy: 0.8636 - mean_squared_error: 0.1117
Epoch 4/20
864/864 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.8677 - mean_squared_error: 0.1083
Epoch 5/20
864/864 [==============================] - 2s 2ms/step - loss: 0.5958 - accuracy: 0.8683 - mean_squared_error: 0.1079
Epoch 6/20
864/864 [==============================] - 2s 2ms/step - loss: 0.6859 - accuracy: 0.8649 - mean_squared_error: 0.1127
Epoch 7/20
864/864 [==============================] - 2s 2ms/step - loss: 0.6535 - accuracy: 0.8640 - mean_squared_error: 0.1121
Epoch 8/20
864/864 [==============================] - 2s 2ms/step - loss: 0.6410 - accuracy: 0.8700 - mean_squared_error: 0.1075
Epoch 9/20
864/864 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.8695 - mean_squared_error: 0.1057
Epoch 10/20
864/864 [==============================] - 2s 2ms/step - loss: 0.7124 - accuracy: 0.8662 - mean_squared_error: 0.1128
Epoch 11/20
864/864 [==============================] - 2s 2ms/step - loss: 0.6415 - accuracy: 0.8653 - mean_squared_error: 0.1119
Epoch 12/20
864/864 [==============================] - 2s 2ms/step - loss: 0.7908 - accuracy: 0.8641 - mean_squared_error: 0.1152
Epoch 13/20
864/864 [==============================] - 2s 2ms/step - loss: 0.6467 - accuracy: 0.8658 - mean_squared_error: 0.1118
Epoch 14/20
864/864 [==============================] - 2s 2ms/step - loss: 0.5637 - accuracy: 0.8654 - mean_squared_error: 0.1094
Epoch 15/20
864/864 [==============================] - 2s 2ms/step - loss: 0.8232 - accuracy: 0.8635 - mean_squared_error: 0.1136
Epoch 16/20
864/864 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.8695 - mean_squared_error: 0.1068
Epoch 17/20
864/864 [==============================] - 2s 2ms/step - loss: 0.5667 - accuracy: 0.8666 - mean_squared_error: 0.1074
Epoch 18/20
864/864 [==============================] - 2s 2ms/step - loss: 0.6267 - accuracy: 0.8672 - mean_squared_error: 0.1094
Epoch 19/20
864/864 [==============================] - 2s 2ms/step - loss: 0.5874 - accuracy: 0.8685 - mean_squared_error: 0.1080
Epoch 20/20
864/864 [==============================] - 2s 2ms/step - loss: 0.6406 - accuracy: 0.8675 - mean_squared_error: 0.1105

## 7. Apresente o loss e outras métricas para cada época que serão avaliadas nos conjuntos de treinamento/avaliação;

In [477]:
loss, accuracy,funcaoPerda = model.evaluate(feats_train, target_train)
print('Acurácia: %.2f' % (accuracy*100))
print('Função de perda: %.2f' % loss)
print('Media quadrada de erro: %.2f' % funcaoPerda)

270/270 [==============================] - 1s 3ms/step - loss: 0.3778 - accuracy: 0.8814 - mean_squared_error: 0.0934
Acurácia: 88.14
Função de perda: 0.38
Media quadrada de erro: 0.09

##8. Avalie o loss no conjunto de teste.

In [478]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, mean_squared_error,mean_absolute_error

In [479]:
def print_results(y_test, y_pred):
  print('\nClassification Report: \n\n', classification_report(y_test, y_pred))
  print('\nAccuracy Score: \n\n', accuracy_score(y_test, y_pred), '\n')
  print('\nFunção de perda: \n\n', mean_absolute_error(y_test,y_pred),'\n')
  return

In [480]:
y_pred_one = np.argmax(model.predict(feats_test), axis=1)
y_test_one = np.argmax(np.array(target_test), axis=1)

print_results(y_test_one, y_pred_one)

Classification Report:

               precision    recall  f1-score   support

           0       1.00      1.00      1.00      3699

    accuracy                           1.00      3699
   macro avg       1.00      1.00      1.00      3699
weighted avg       1.00      1.00      1.00      3699


Accuracy Score:

 1.0


Função de perda:

 0.0

## Conclusão
O algoritmo apresentou uma boa performance referente ao modele apresentado para teste e validação.